body {
  background-color: lightblue;
}
h1 {
  color: whitesmoke;
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.font /*class = "font"*/ {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}