body {
  background-color: lightblue;
}
h1 {
  margin-left: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.font /*class = "font"*/ {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.jumpscare /*class = "jumpscare"*/ {
  cursor: url(https://wallpapers.com/images/hd/freddy-fazbear-3840-x-2160-wallpaper-6b7i13zzmvb2a0l0.jpg);
}